.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: #00204a;
  color: #fdb44b;
  max-width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

li {
  list-style: none;
  line-height: 30px;
}

form {
  padding: 10px;
  margin: 20px;
}

input {
  padding: 5px 20px;
  text-align: center;
  margin-top: 20px;
  margin: 5px;
  border-radius: 10px;
  border-color: #142d4c;
}

a {
  color: #fdb44b;
  padding: 2px;
  font-size: 12px;
  margin: 10px;
  text-decoration: none !important;
}

div {
  margin: 0;
}
a:visited {
  color: #00bbf0;
  text-decoration: none !important;
}
span {
  margin: 0;
}
.button {
  padding: 5px 20px;
  border: None;
  background-color: #00bbf0;
  margin: 5px;
  border-radius: 10px;
}

.icon {
  background-color: #00bbf0;
  border-radius: 50%;
}

.forecast {
  padding: 10px;
  margin: 10px;
}

.min {
  opacity: 75%;
}

.forecastIcon {
  padding: 10px;
}
